.d{
  font-family: "SF Pro Display",sans-serif;
  font-weight: 600;
}

.t{
  font-family: "SF Pro Text",sans-serif;
  font-weight: 400;
}

.r{
  font-family: "Roboto",sans-serif;
  font-weight: 400;
}

.jp{
  font-family: "SF Pro JP",sans-serif;
  font-weight: 600;
}